:root {
    /* CSS custome vars created w/ '--'. Allows for editing of one stored value */
    --font-display: 'Fraunces', serif;
    --font-body: 'DM Sans', sans-serif;
    --font-mono: 'Fraunces', monospace;

    --neutral-900: hsl(33,15%,15%)
    --neutral-100: hsl(33,60%,96%)
    --neutral-0: hsl(0,0%,100%)
    --terracotta-600: hsl(15,74%,41%)
    --sun-500: hsl(42,83%,58%)
}